<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender System</title>
</head>
<body>
    <h1>Welcome to the Movie Recommender System, {{ name }}!</h1>
    <form action="/recommend" method="post"> <!-- Update action attribute to /recommend -->
        <label for="selected_movie">Select a movie from the dropdown:</label>
        <select name="selected_movie" id="selected_movie">
            {% for movie in movie_list %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>        
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>
